<div class="container mx-auto">
<div class="wrapper  antialiased text-gray-900 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<div *ngFor="let sneaker of sneakers" class="w-full max-w-sm bg-white rounded-lg shadow-md  ">
	<a [routerLink]="['/products', sneaker.id]">
        <img [routerLink]="['/products', sneaker.id]" class="p-8 rounded-t-lg" [src]="sneaker.img">
    </a>
	<div class="px-5 pb-5">
        <a [routerLink]="['/products', sneaker.id]">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 ">title: {{ sneaker.title }}</h5>
        </a>
		<div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 ">price: {{ sneaker.price }}</span>
            <a [routerLink]="['/products', sneaker.id]" class="text-white bg-neutral-900 hover:bg-stone-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">подробнее</a>
        </div>
    </div>
</div>
</div>
<!-- <br /> -->
<router-outlet></router-outlet>
