<div class="container mx-auto">
<div class="wrapper  antialiased text-gray-900 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
<div *ngFor="let sneaker of sneakers" class="w-full max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
	<a [routerLink]="['/products', sneaker.id]">
        <img [routerLink]="['/sneakers', sneaker.id]" class="p-8 rounded-t-lg" [src]="sneaker.img">
    </a>
	<div class="px-5 pb-5">
        <a [routerLink]="['/products', sneaker.id]">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">title: {{ sneaker.title }}</h5>
        </a>
		<div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">price: {{ sneaker.price }}</span>
            <a (click)="addToCart(sneaker.id)"type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
        </div>
    </div>
</div>
</div>
<!-- <br /> -->
<router-outlet></router-outlet>
