<p>users works!</p>
<!-- <p class="font-bold">{{ name }}</p> -->
<!-- <ul *ngFor="let name of names; index as i"> -->
    <!-- <li class="font-bold">{{ name | uppercase}}</li> -->
    <!-- <button (click)="deleteName(i)">delete</button> -->
<!-- </ul> -->
<!-- <p>{{myDate | date: "dd.MM.yyyy"}}</p> -->
<!-- <p>{{nameTmp}}</p>
<input [(ngModel)]="nameTmp"  type="text" class="border-2">
<button (click)="addName()">click</button> -->
<div *ngFor="let user of users">
    <p> {{ user.first_name }} </p>
    <p> {{ user.last_name }} </p>
</div>