<p>home works!</p>
<div class="home font-family: 'Cormorant Garamond', serif;" >
    <div class="flex">
      <div class="src">
        <img class="golova" src=".\assets\images\Снимок экрана (1).jpg" alt />
      </div>
      <div class="text">
        <div class="predoc">
        <h1 class="welcome">Welcome!</h1>
        <!-- <ul>
          <h2 class="why">why us?</h2>
          <li class="spisok">fast feedback</li>
          <li class="spisok">high quality</li>
          <li class="spisok">fast delivery</li>
          <li class="spisok">
            <h2>best for customers ;)</h2>
          </li>
        </ul> -->
      </div>
      </div>
    </div>
    <div class="padd p-6 py-12 dark:bg-violet-400 dark:text-gray-900">
      <div class="bordeer container mx-auto">
        <div class="flex flex-col lg:flex-row items-center justify-between">
          <h2 class="text-center text-6xl tracking-tighter font-bold">Discounts!
            <br class="sm:hidden">up to 50%
          </h2>
          <a routerLink="/products" href="#" rel="noreferrer noopener" class="knopochka px-5 mt-4 lg:mt-0 py-3 rounded-md border block dark:bg-gray-50 dark:text-gray-900 dark:border-gray-400">Start shopping</a>
        </div>
      </div>
    </div>
  </div>

  
  <!-- <div class="p-6 py-12 dark:bg-violet-400 dark:text-gray-900">
    <div class="container mx-auto">
      <div class="flex flex-col lg:flex-row items-center justify-between">
        <h2 class="text-center text-6xl tracking-tighter font-bold">Discounts!
          <br class="sm:hidden">up to 50%
        </h2>
        <a routerLink="/products" href="#" rel="noreferrer noopener" class="px-5 mt-4 lg:mt-0 py-3 rounded-md border block dark:bg-gray-50 dark:text-gray-900 dark:border-gray-400">Start shopping</a>
      </div>
    </div>
  </div> -->