<p>home works!</p>
<div class="home">
    <div class="flex">
      <div class="src">
        <img class="golova" src=".\assets\images\Снимок экрана (1).png" alt />
      </div>
      <div class="text">
        <h1 class="welcome">Welcome!</h1>
        <ul>
          <h2 class="why">why us?</h2>
          <li class="spisok">fast feedback</li>
          <li class="spisok">high quality</li>
          <li class="spisok">fast delivery</li>
          <li class="spisok">
            <h2>best for customers ;)</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>